.bg-nav {
  background: #ff0084; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mt-100 {
  margin-tops: 100px;
}
.footer {
  padding: 15px;
  background-image: linear-gradient(#2d557d, #9610fb);
  color: #fff;
}
.fa-heart {
  margin: 0 5px;
  color: #f44336;
}
.footer .copyright {
  text-align: center;
}
.footer .col-md-3 a:link {
  color: #fff;
}
.footer .col-md-3 a:visited {
  color: #fff;
}
.footer .col-md-3 a:hover {
  color: hotpink;
}
